html
  head
    title= picPath
  body
    a(href="/") Go back
    |
    h1 #{actionPath}
    img(src=picPath)
    h2 Comment Count:

    #comments
        if comments[actionPath]
            p #{comments[actionPath].length}
        else
            p 0
    
    form(action=actionPath, method='POST', enctype='application/x-www-form-urlencoded')
        label Name
            input(type="text" name='name')
        label Comment
            textarea(name='comment')
        input(type="submit" value="submit")
    
    h1 Recent Comments:
    if comments[actionPath]
        each comment in comments[actionPath]
            if comment.name !== undefined && comment.comment !== undefined
                div #{comment.name} commented: #{comment.comment}
